html {
  background-color: #c9c9c9;
}

h1 {
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  grid-gap: 10px;
  width: fit-content;
  margin: auto;
}

.square {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
